@font-face {
    font-family: "GT Flexa Mono Trial VF";
    src: url("./fonts/GT-Flexa-Mono-Trial-VF.ttf") format("truetype");
}

@font-face {
    font-family: "Romie";
    src: url("./fonts/Romie-Regular.otf") format("opentype");
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 60px;
    font-family: "Romie", sans-serif;
    white-space: nowrap;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#journalForm {
    position: absolute;
    top: 140px; /* Adjust this value until it's nicely below the title */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: none;
    flex-direction: column;
    align-items: center;
}

#journalInput {
    font-family: "GT Flexa Mono Trial VF", monospace;
    background-color: rgb(239, 239, 239);
    border: none;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 700px; /* Make the textbox longer */
}

button[type="submit"] {
    font-family: "GT Flexa Mono Trial VF", monospace;
    top: 220px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#clearEmotions {
    font-family: "GT Flexa Mono Trial VF", monospace;
    position: absolute;
    border: none;
    top: 220px; /* Adjust this as well to be below the form */
    left: 55%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
